body, html {
    background-color: #191936;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #fff;
}

h3 {
    text-align: unset;
    font-size: small;
}

#logo {
    width: 100px;
    height: 100px;
}

header {
    margin-top: 0;
    background-color: rgb(0, 0, 255);
    color: white;
}

nav {
    z-index: 10;
    width: 100%;
    background-color: #041730;
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 750;
    justify-content: space-around;
    padding: 10px;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.carousel-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}


.Tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    width: 500px;
    background-color: #191936;
    border: 1px solid #131385;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card-content h1,
.card-content p {
    color: #ffffff;
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: #0f243f;
    color: white;
    padding: 20px 0;
}

#contenedor1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

#contenedor2,
#contenedor3,
#contenedor4 {
    font-family: sans-serif;
}

#contenedor3 pre {
    text-align: left;
    white-space: pre-wrap;
    font-size: 14px;
    font-family: sans-serif;
}

#contenedor4 {
  display: flex;
  justify-content: flex-end; 
  padding-right: 20px; 
}

#contenedor4 ul {
  display: flex;
  gap: 15px; 
  list-style: none;
  padding: 0;
  margin: 0;
}

#contenedor4 ul li img {
  height: 35px;
  width: auto;
  object-fit: contain;
  vertical-align: middle;
}